name: deploying ushauri_test instance
on:
  push:
    branches: [ workflow ]
jobs:

  build:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: executing remote connection
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.CICD_SECRET }}
        port: ${{ secrets.PORT }}
        script: |
          git config --global --add safe.directory /apps/github-workflows/mhealth-apps/nishauri/      
          cd /apps/github-workflows/mhealth-apps/nishauri/
          git pull origin main
          git status
          cp  /apps/configs/nishauri/node.dockerfile /apps/github-workflows/mhealth-apps/nishauri/
          cp  /apps/configs/nishauri/.env /apps/github-workflows/mhealth-apps/nishauri/
          cp  /apps/configs/nishauri/nginx.dockerfile /apps/github-workflows/mhealth-apps/nishauri/
          cp -r /apps/configs/nishauri/nginx/ /apps/github-workflows/mhealth-apps/nishauri/
          cp  /apps/configs/nishauri/docker-compose.yml /apps/github-workflows/mhealth-apps/nishauri/
          docker-compose down
          docker-compose rm -f
          docker-compose up -d
